.col1{
    float: left;
    padding: 20px;
    resize: both;
    
    }
   
    .col2{
     padding: 20px;
     text-align:center ;
     width: auto ;
     color: #2b70b4;
     resize: both;
   }

   
   .col3{
    padding: 30px;
    text-align: left;
    width: auto;
    color: #101213;
    resize: both;
    background-color: rgb(240, 234, 215);
   }

   .col4{
    text-align: center;
    
   }

   p.solid {border-style: solid; 
  resize: both;
  }


   .button {
    border: 5px;
    color: rgb(41, 93, 197);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    resize: both;
  }

  .col5{
    padding-top: 10%;
  padding-left:10%;
position: absolute ;
resize: both;

  }

  .col6{
    padding: auto;
    padding-left: 60%;
    position: absolute;
    resize: both;
  }

  .col7{
    resize: both;
    padding-top: 10%;
    padding-left: 70%;
    position: absolute;
  }